In [21]:
# when today is Monday
day=input('Enter the day here: ')
if day == "Monday":
    print('it is Monday')
else:
    print ('it is not Monday')

Enter the day here: Tuesday
it is not Monday

In [26]:
#  when today is weekday
weekday=input("Enter the day here: ")
if weekday=="Monday"or weekday=="Tuesday"or weekday=='Wednesday'or weekday=='Thursday'or weekday=='Friday':
    print('it is weekday')
else:
    print('it is weekend')

Enter the day here: Saturday
it is weekend

In [49]:
#  create a variable that calculate the total and when working hour greater than 40 the extra hours equal to 1.5 times hourly rate
hour_worked=float(input("How Many hours you work last week: "))
hourly_rate=30
total = hour_worked*hourly_rate
if 168>hour_worked > 40:
    print(total =(hour_worked-40)*(hourly_rate*1.5)+(40*hourly_rate))
if hour_worked<=40:
    print(total =hour_worked*hourly_rate)
if hour_worked>=168:
    print('This many hours do not existed in a week yet, go back to your planet')

How Many hours you work last week: 168
This many number does not existed in this world yet, go back to your planet

In [50]:
# create a while loop when i =5 and i+1 while i is less and equal to 15
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

In [3]:
# create a while loop that will count by 2s
i=0
while i <=100:
    print(i)
    print('------')
    i += 2

0
------
2
------
4
------
6
------
8
------
10
------
12
------
14
------
16
------
18
------
20
------
22
------
24
------
26
------
28
------
30
------
32
------
34
------
36
------
38
------
40
------
42
------
44
------
46
------
48
------
50
------
52
------
54
------
56
------
58
------
60
------
62
------
64
------
66
------
68
------
70
------
72
------
74
------
76
------
78
------
80
------
82
------
84
------
86
------
88
------
90
------
92
------
94
------
96
------
98
------
100
------

In [8]:
# alter loop to count backwards by 5s from 100 to -10
i=100
while i >= -10:
    print(i)
    print('------')
    i -= 5

100
------
95
------
90
------
85
------
80
------
75
------
70
------
65
------
60
------
55
------
50
------
45
------
40
------
35
------
30
------
25
------
20
------
15
------
10
------
5
------
0
------
-5
------
-10
------

In [37]:
# alter loop to start with 2 and display the number square on each line while the number is less than 1,000000
i=2
while i <=1000000:
    print(i)
    print('------')
    i **= 2

2
------
4
------
16
------
256
------
65536
------

In [17]:
# alter loop to count backwards by 5s from 100 to 5
i=100
while i >= 5:
    print(i)
    print('------')
    i -= 5

100
------
95
------
90
------
85
------
80
------
75
------
70
------
65
------
60
------
55
------
50
------
45
------
40
------
35
------
30
------
25
------
20
------
15
------
10
------
5
------

In [36]:
# creating a float or int for output to times from 1-10
n=float(input())
for i in range(1,11):
    print(n,'x',i,'=',i*n)

8.5
8.5 x 1 = 8.5
8.5 x 2 = 17.0
8.5 x 3 = 25.5
8.5 x 4 = 34.0
8.5 x 5 = 42.5
8.5 x 6 = 51.0
8.5 x 7 = 59.5
8.5 x 8 = 68.0
8.5 x 9 = 76.5
8.5 x 10 = 85.0

In [53]:
# creating for loop with prescribed answer
for i in range(1,10):
    for k in range (1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [84]:
# Creating a for loop to skip ipput odd number
n=int(input("Number to skip is: ")) 
number=n
for n in range(1,50):
    if n%2!=0 and (n!=number and n>=1):
        print("Here is an odd number: ",n)
    if number==n:
        print('Yikes!Skipping number: ',n)
        continue
        break
if n ==str():
    print("Please enter valid number")
    
     else:
        print('Pick a number between 1-50')

Number to skip is: 0
Here is an odd number:  1
Here is an odd number:  3
Here is an odd number:  5
Here is an odd number:  7
Here is an odd number:  9
Here is an odd number:  11
Here is an odd number:  13
Here is an odd number:  15
Here is an odd number:  17
Here is an odd number:  19
Here is an odd number:  21
Here is an odd number:  23
Here is an odd number:  25
Here is an odd number:  27
Here is an odd number:  29
Here is an odd number:  31
Here is an odd number:  33
Here is an odd number:  35
Here is an odd number:  37
Here is an odd number:  39
Here is an odd number:  41
Here is an odd number:  43
Here is an odd number:  45
Here is an odd number:  47
Here is an odd number:  49

In [94]:
n=int(input("your input: "))
for number in range(n+1):
    print(number)

your input: 12
0
1
2
3
4
5
6
7
8
9
10
11
12

n=int(input("your input: "))
for number in range(n+1):
    print(reversed(number))

In [131]:
n=int(input("your input: "))
for number in reversed(range(n)):
    n1=number+1
    print(n1)

your input: 21
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [132]:
#  write a program counting from 1-100
for n in range (1,101):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [95]:
number=int(input("Your input Number: "))
if number %3==0:
    print('Fizz')
else:
    print(number)

Your input Number: 12
Fizz

In [96]:
number=int(input("Your input Number: "))
if number %5==0:
    print('Buzz')
else:
    print(number)

Your input Number: 15
Buzz

In [2]:
number=int(input("Your input Number"))
if number %5==0 and number %3==0:
    print('FizzBuzz')
else:
    print(number)

Your input Number90
FizzBuzz

In [19]:
from tabulate import tabulate
n=int(input('What number would you like to go up to? '))
print('Here is your table!')
while True:
    table=[['number','square','cubed'],[n,n**2,n**3]]
    print(tabulate(table))
    n=int(input('enter number to continue, otherwise type"00" to stop'))
    if n == 00:
        print('Okay,bye!')
        break

What number would you like to go up to? 10
Here is your table!
------  ------  -----
number  square  cubed
10      100     1000
------  ------  -----
enter number to continue, otherwise type"00" to stop12
------  ------  -----
number  square  cubed
12      144     1728
------  ------  -----
enter number to continue, otherwise type"00" to stop09
------  ------  -----
number  square  cubed
9       81      729
------  ------  -----
enter number to continue, otherwise type"00" to stop00
Okay,bye!

In [11]:
n=float(input('Please enter your grade: '))
while True:
    if n>100:
        print ('Please enter number between 1-100, or 0 :(')
    if n<=100 and n>=88:
        print("Your letter grade is A")
    if n<88 and n>=80:
        print("Your letter grade is B")
    if n<80 and n>=67:
        print("Your letter grade is C")
    if n<67 and n>=60:
        print("Your letter grade is D")
    if n<60 and n>=0:
        print("Your letter grade is F")
    n=int(input('enter number to continue, otherwise type"-1" to stop: '))
    if n == int('-1'):
        print('Okay, Bye!')
        break

Please enter your grade: 0
Your letter grade is F
enter number to continue, otherwise type"-1" to stop0
Your letter grade is F
enter number to continue, otherwise type"-1" to stop-1
Okay, Bye!

In [14]:
book=[{'title':'1984', 'author':'George Orwell','genre':"Dystopian Fiction"},
         {'title':'1985', 'author':'George Orwell II','genre':"Scientific Fiction"},
         {'title':'1986', 'author':'George Orwell III','genre':"Social Science Fiction"}]
print(book)

[{'title': '1984', 'author': 'George Orwell', 'genre': 'Dystopian Fiction'}, {'title': '1985', 'author': 'George Orwell II', 'genre': 'Scientific Fiction'}, {'title': '1986', 'author': 'George Orwell III', 'genre': 'Social Science Fiction'}]

In [48]:
books=[{"title":1984, "author":"George Orwell","genre":"Dystopian Fiction"},
       {'title':1985, 'author':'George Orwell II',"genre":"Scientific Fiction"},
       {'title':1986, 'author':'George Orwell III',"genre":"Social Science Fiction"}]
b=input('Please enter the book genres: ')        
for b in books:
    print(b["title"])

Please enter the book genres: Dystopian Fiction
1984
1985
1986